{% extends 'authenticate/base.html' %} {% block content %}
<h1 class="text-center">Login</h1>
<form method="POST">
  {% csrf_token %}
  <div class="col-md-6 offset-md-3">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Enter username"
        name="username"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        placeholder="Enter password"
        name="password"
      />
    </div>
    <button type="submit" class="btn btn-dark">Login</button>
  </div>
</form>
{% endblock %}
