@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 6vh;
}

.logo{
    font-size: 1.3rem;
    font-weight: 900;
}

.top-right-container{
    display: flex;
}


.top-right{
    background: transparent;
    width: 100px;
    height: 40px;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    border: solid 2px white;
}

.top-right-mail {
    width: 200px;
    border-radius: 50px;
    background: orange;
    border: 2px red;
}

.search-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.search-bar {
    width: 40%;
    box-sizing: border-box;
    border-radius: 50px;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    border: solid 2px black;
    color: black;
    padding-left: 50px;
    background-image: url(./assets/search-icon.svg);
    background-repeat: no-repeat;
    background-position: .75rem center;
    background-size: 1.8rem;
    outline: 0;
}


.research-paper-container{
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.research-paper-container .research-paper {
    height: 100%;
    width: 40%;
    border-radius: 20px;
    padding: 10px 10px;
    border: solid 2px black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.research-paper-container .research-paper .paper-id{
    font-size: 1.2rem;
    font-weight: 600;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px gray;
}


.research-paper-container .research-paper .paper-summary{
    font-size: 1rem;
    font-weight: 300;
    height: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
    white-space: wrap; /* this will prevent the text from wrapping to the next line */
    text-overflow: ellipsis; /* this will add "..." at the end of the text if it exceeds the width */
    overflow: hidden; /* this will hide any content that exceeds the width */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    text-align: center;
  }
  
